@font-face {
    font-family: "fonteLogo";
    src: url("../fontes/xilosa_.ttf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Elementos do header*/

header {
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 1%;
    padding-top: 1%;

}

#divLogo {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


#divLogo>p {
    margin-left: 2%;
    margin-right: 1%;
    font-family: 'fonteLogo', Arial, Helvetica, sans-serif, monospace;
    font-size: 1.5vw;
}

.conteudoHeader {
    background-color: white;
    padding: 1%;
    font-family: 'fonteLogo', Arial, Helvetica, sans-serif, monospace;
    font-size: 1.5vw;
    margin-left: 10%;
    border: 1px solid black;
    text-decoration: none;
    align-items: center;
    border-radius: 5px;
    color: black;

}
.submenu-trigger {
    position: relative;
    display: inline-block;
    margin-left: 10%;
    margin-right: 3%;
}
.submenu-trigger:hover{
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    top: 108%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 12px;
}

.submenu a {
    display: block;
    font-family: fonteTitulo;
    padding: 10px;
    text-decoration: none;
    color: #ff0000;
}

.submenu a:hover {
    border-radius: 12px;
    background-color: #f0f0f0;
}

/*Elementos do container*/
#container{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: 1.5px solid black;
    border-radius: 5px;
}



/* Elementos do footer*/
footer{
    background-color: rgb(233, 233, 233);
    padding: 2%;
    margin-top: 5%;
    border-top: 1.5px solid black ;
}