@font-face {
    font-family: "fonteLogo";
    src: url("../fontes/xilosa_.ttf");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos a altura total da viewport */
}

/* Elementos do header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
.divHeader{
    border-bottom: 1px solid black;
    background-color: rgb(233, 233, 233);
}

#divLogo {
    background-color: white;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}


#divLogo>a {
    margin-left: 2%;
    margin-right: 1%;
    font-family: 'fonteLogo', Arial, Helvetica, sans-serif, monospace;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}
#nomeUsuario{
    font-family: 'fonteLogo', Arial, Helvetica, sans-serif;
}
.conteudoHeader {
    background-color: white;
    padding: 1%;
    font-family: 'fonteLogo', Arial, Helvetica, sans-serif, monospace;
    font-size: 1.5vw;
    border: 1px solid black;
    text-decoration: none;
    align-items: center;
    border-radius: 5px;
    color: black;

}

.submenu-trigger {
    position: relative;
    display: inline-block;
}

.submenu-trigger:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid black;

}

.submenu {
    display: none;
    position: absolute;
    top: 108%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 12px;
}

.submenu a {
    display: block;
    font-family: 'fonteLogo', Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
    color: #ff0000;
}

.submenu a:hover {
    border-radius: 12px;
}

/*Elementos do container*/
#container {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    border: 1.5px solid black;
    border-radius: 5px;
}

/*Elementos do form da div mesa e comanda*/

.divSuperior {
    display: flex;
    justify-content: space-between; /*Aproveita o máximo espaço da div, separando seus filhos para seus extremos*/
    border-bottom: 1.5px solid black;
    padding: 1%;
}
.divInferior{
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para uma nova linha conforme necessário */
    padding: 3%;
}

.card-body:first-child>div{
    display: flex;
    justify-content: space-between; 
}

.card-body:first-child>p{
    font-family: 'fonteLogo',Arial, sans-serif;
    font-size: 2vw;
    background-color: rgb(233, 233, 233);
    width: 10rem;
    border-radius: 12px;
}

.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* Garante que os itens se empilhem verticalmente */
}

.divBotoesCard>a{
    padding: 1%;
}
.botaoAcessado{
    background-color: #28a745; /* Cor desejada para o botão acessado */
}

.botaoAcessar{
    margin-right: 10%;
}

.divTextoMesasComandas{
    display: flex;
    align-items: center;
    margin-left: 2%;
}
.textoMesasComandas{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}


/*Elementos do form de adicionar mesa e comanda*/
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.divBotaoModal{
    display: flex;
    align-items: center;
    margin-right: 2%;
}


/* Elementos do footer*/
footer {
    background-color: rgb(233, 233, 233);
    padding: 2%;
    border-top: 1.5px solid black;
}
.divFooter{
    margin-top: auto; /* Empurra o footer para a parte inferior da página */
}