
#divProdutosComanda > .row {
    padding: 1%;
}

.divSuperior {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

.container {
    margin-top: 3%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5%;
}

/* Produtos */
.divTextoProduto {
    display: flex;
    align-items: center;
    margin-left: 2%;
}


.textoBotoesCard,
.breve-descricao {
    font-size: 1.1vw;
}

.divBreveDescricaoLerMais {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

.divBreveDescricao {
    width: 12rem;
    padding-left: 5%;
    padding-right: 5%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.divLerMais {
    width: 12rem;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.divValor {
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 2%;
    background-color: rgb(233, 233, 233);
    color: black;
    border-radius: 4px;
}

.divValor:hover {
    background-color: rgb(5, 87, 5);
    color: white;
    border-radius: 4px;
}
.divValorAcumulado, .divValorUnitario{
    background-color: rgb(233, 233, 233);
    color: black;
    border-radius: 4px;
}
.divValorAcumulado:hover, .divValorUnitario:hover{
    background-color: rgb(5, 87, 5);
    color: white;
    border-radius: 4px;
}
.divQuantidadeDoPedido{
    background-color: rgb(233, 233, 233);
    color: black;
    border-radius: 4px;
    width: 12rem;
    height: 2rem;   
}

/*Textos de pago */
.pago{
    color: green;
}
.naoPago{
    color: red;
}